.eventheader{
    padding-left: 3em;
    padding-top: 4em;
font-family: 'Montserrat', sans-serif;    font-size: 2.5em;
    font-weight: 600;
    color: #3f76e3;
    padding-bottom: .5em;}

@media only screen and (max-width: 500px) {
.eventheader{
    padding-left: 1em;
    padding-top: 8em;
font-family: 'Montserrat', sans-serif;    font-size: 1.5em;
    font-weight: 600;
    color: #3f76e3;
    padding-bottom: .5em;}
}

.line{
    margin-left: 4em;
    width: 96%;
    height: 2px;
    opacity: 0.7;
    background-color: #3f76e3;
}

@media only screen and (max-width: 500px) {
.line{
    margin-left: 1em;
    width: 96%;
    height: 3px;
    opacity: 0.7;
    background-color: #3f76e3;

    }}


.thumbnail_events{
    height: 53em;
    margin-top: 6em;
    margin-left: 4em;
    background-color: white;
    border: solid 1px #3f76e3;
}

@media only screen and (max-width: 500px) {
.thumbnail_events{
    margin-top: 3em;
    margin-left: 1em;
    background-color: white;
    border: solid 1px #3f76e3;
    height: 59em;
    }}

.event_image{
    width: 100%;

}

.event_content{
    padding: 2em;
}

.name_event{
font-family: 'Montserrat', sans-serif;    font-size: 1.3em;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #3f76e3;
}

.post_event{
    opacity: 0.72;
font-family: 'Montserrat', sans-serif;    font-size: 1em;
    font-weight: 300;
    line-height: 1.89;
    letter-spacing: 0.4px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.72);
}

.rules_button{
/*
    position: absolute;
    bottom: 0;
*/
    height: 48px;
    background-color: #fefefe;
    box-shadow: 0px 8px 16.6px 4.4px rgba(64, 63, 63, 0.06);
    border:1px solid #3f76e3;
}

.rules_button_content{
    text-align: center;
font-family: 'Montserrat', sans-serif;    font-size: 1.2em;
    font-weight: 500;
    line-height: 2.7;
    letter-spacing: 0.5px;
    color: #3f76e3;
}
.rules_button:hover{
  border:1px solid #3f76e3;
  background-color: #3f76e3;

}
.rules_button_content:hover{
  border:1px solid #3f76e3;
  background-color: #3f76e3;
  color:#f6f6f6;
}
.event_contact{
font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-stretch: normal;

    color: #3f76e3;
}
