.spons_img{

    margin-top: 50px;
    margin-bottom: 50px;

}

.image_spons{
    width: 90%;
    
    margin-left: 1em;
    margin-right: 1em;

}

.sponType{
/*  padding-left: 3em;*/
  padding-top: 4em;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #3f76e3;
  padding-bottom: .5em;
    text-align: center;

}
